<template>
    <div>
        <sui-accordion-title>
            <sui-icon name="dropdown" />
            PIN app configuration
        </sui-accordion-title>
        <sui-accordion-content>
        </sui-accordion-content>
    </div>
</template>

<script>
export default {
  name: 'pin_config',
  components: {

  },
  methods: {
  }
}
</script>


<style scoped>

</style>
