<template>
  <div>
    <sui-modal v-model="open">
      <sui-modal-header>Sparkbench GUI Information</sui-modal-header>
      <sui-modal-content>

        <sui-table celled striped>
          <sui-table-body>
            <sui-table-row>
              <sui-table-cell>Sparkbench GUI</sui-table-cell>
              <sui-table-cell>{{ sparkbench_gui }}</sui-table-cell>
            </sui-table-row>
            <sui-table-row>
              <sui-table-cell>Vue.js</sui-table-cell>
              <sui-table-cell>{{ vue }}</sui-table-cell>
            </sui-table-row>
            <sui-table-row>
              <sui-table-cell>Electron</sui-table-cell>
              <sui-table-cell>{{ electron }}</sui-table-cell>
            </sui-table-row>
            <sui-table-row>
              <sui-table-cell>Node</sui-table-cell>
              <sui-table-cell>{{ node }}</sui-table-cell>
            </sui-table-row>
            <sui-table-row>
              <sui-table-cell>Platform</sui-table-cell>
              <sui-table-cell>{{ platform }}</sui-table-cell>
            </sui-table-row>
          </sui-table-body>
        </sui-table>
      </sui-modal-content>
      <sui-modal-actions>
        <sui-button floated="right" positive @click.native="toggle" style="margin: 15px">OK</sui-button>
      </sui-modal-actions>
    </sui-modal>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        // electron: process.versions['atom-shell'],
        electron: process.versions['electron'],
        name: this.$route.name,
        node: process.versions.node,
        path: this.$route.path,
        platform: require('os').platform(),
        vue: require('vue/package.json').version,
        sparkbench_gui: process.env.npm_package_version
      }
    },
    methods: {
      toggle () {
        this.$store.commit('AboutModal/toggle')
      }
    },
    computed: {
      open () {
        return this.$store.state.AboutModal.open
      }
    }
  }
</script>

<style>
</style>
