<template>
    <div>
        <sui-menu size="large">
            <sui-menu-item>
                <sui-button basic icon="home" class="menu-el" @click="change_view('/')"/>
            </sui-menu-item>
            <sui-menu-item>
                <sui-dropdown v-bind:class="{disabled: !experiment_selected}" icon="play" class="menu-el">
                    <sui-dropdown-menu>
                        <sui-dropdown-item @click="launch_experiment(undefined)">Whole experiment</sui-dropdown-item>
                        <sui-dropdown-divider />
                        <sui-dropdown-item v-for="proc in process_names" :key="proc" @click="launch_experiment(proc)">{{ proc }}</sui-dropdown-item>
                    </sui-dropdown-menu>
                </sui-dropdown>
            </sui-menu-item>
            <sui-menu-item>
                <sui-dropdown text="File" class="labeled icon" icon="file" :button="true">
                    <sui-dropdown-menu>
                        <sui-dropdown-item @click="new_file" disable>New file...</sui-dropdown-item>

                        <sui-dropdown-divider />

                        <sui-dropdown-item v-bind:class="{disabled: workspace_selected}" @click="open_file">Open workspace...</sui-dropdown-item>
                        <sui-dropdown-item v-bind:class="{disabled: !workspace_selected}" @click="save_all_file" >Save workspace</sui-dropdown-item>
                        <sui-dropdown-item v-bind:class="{disabled: !workspace_selected}" @click="close_file" >Close</sui-dropdown-item>

                        <sui-dropdown-divider />

                        <sui-dropdown-item @click="quit_app">Quit</sui-dropdown-item>
                    </sui-dropdown-menu>
                </sui-dropdown>
            </sui-menu-item>
            <sui-menu-item>
                <sui-dropdown text="Edit" class="labeled icon" icon="cogs" :button="true">
                    <sui-dropdown-menu>
                        <sui-dropdown-item @click="change_view('/preferences')">Preferences</sui-dropdown-item>
                    </sui-dropdown-menu>
                </sui-dropdown>
            </sui-menu-item>
            <sui-menu-item>
                <sui-dropdown text="View" class="labeled icon" icon="eye" :button="true">
                    <sui-dropdown-menu>
                        <sui-dropdown-item @click="change_view('/modules')">Modules</sui-dropdown-item>
                        <sui-dropdown-item @click="change_view('/actors')">Actors and constants</sui-dropdown-item>
                        <sui-dropdown-item @click="change_view('/processes')">Processes</sui-dropdown-item>
                        <sui-dropdown-item @click="change_view('/experiment')">Experiment</sui-dropdown-item>
                        <sui-dropdown-divider />
                        <sui-dropdown-item @click="change_view('/connections')">Connections</sui-dropdown-item>
                        <sui-dropdown-item @click="change_view('/variables')">Variables</sui-dropdown-item>
                        <sui-dropdown-divider />
                        <sui-dropdown-item @click="change_view('/')">Home</sui-dropdown-item>
                    </sui-dropdown-menu>
                </sui-dropdown>
            </sui-menu-item>
            <sui-menu-item>
                <sui-dropdown text="Analysis" class="labeled icon" icon="chart bar" :button="true">
                    <sui-dropdown-menu>
                        <template v-for="analysis in enabled_analyses">
                            <sui-dropdown-item :key="analysis" @click="change_view('/analysis/' + analysis)">
                                {{ analysis_name(analysis) }}
                            </sui-dropdown-item>
                        </template>
                    </sui-dropdown-menu>
                </sui-dropdown>
            </sui-menu-item>
            <sui-menu-item>
                <sui-dropdown class="icon" icon="info" :button="true">
                    <sui-dropdown-menu>
                        <sui-dropdown-item @click="show_about">About</sui-dropdown-item>
                    </sui-dropdown-menu>
                </sui-dropdown>
            </sui-menu-item>

            <sui-menu-item class="right" v-if="workspace_selected">

                <sui-button v-for="file in workspace_filenames" :key="file" 
                icon="save" class="menu-el" style="margin-right: 5px;" 
                :negative="is_file_modified(file)" :disabled="!is_file_modified(file)" @click="save_file(file)">
                    <a is="sui-label" slot="label" basic>
                        {{ file }}
                    </a>
                </sui-button>
            </sui-menu-item>

        </sui-menu>

        <!-- About modal is included here -->
        <about></about>
    </div>
</template>

<script>
    import About from './About'
    import experiment from '../../js/experiment.js'
    import files from '../../js/files.js'

    var analysis_components = require('../Analyses/index.js').default

    const remote = require('electron').remote
    var pt = require('path')

    var _ = require('lodash')

export default {
      name: 'app-menu',
      components: {
        About
      },
      methods: {
        launch_experiment (proc_name) {
          experiment.run_experiment(this, this.workspace_files, this.experiment_name, proc_name)
        },
        new_file () {
          files.new_file(this.$store)
        },
        change_view (route) {
          this.$router.push(route)
        },
        show_about () {
          this.$store.commit('AboutModal/show')
        },
        open_file () {
          files.open_file(this.$store)
        },
        close_file () {
          this.$store.commit('Data/clear')
          this.$store.dispatch('Workspace/clear_workspace')
        },
        save_file (filename) {
          files.save_file(this.$store, filename)
        },
        save_all_file () {
          files.save_all_files(this.$store)
        },
        quit_app () {
          remote.getCurrentWindow().close()
        },
        is_file_modified (file) {
          // return _.get(this.workspace_files, [file, 'modified'])
          return this.$store.getters['Workspace/is_file_modified'](file)
        },
        analysis_name (fullname) {
          return analysis_components[fullname].name
        }
      },
      computed: {
        // current_workspace() {
        //     var fullPath = this.$store.state.Workspace.wsToml
        //     var filename = fullPath.replace(/^.*[\\\/]/, '')
        //     // console.log(filename)
        //     return filename
        // },
        experiment_selected () {
          var main = this.$store.getters['Workspace/main']
          var main_type = _.get(this.workspace_files, [main, 'data', 'type'])
          return this.workspace_selected && main_type == 'experiment'
        },
        workspace_selected () {
          return this.$store.state.Workspace.wsToml !== ''
        },
        workspace_filenames () {
          return Object.keys(this.$store.state.Workspace.files)
        },
        workspace_files () {
          return this.$store.state.Workspace.files
        },
        enabled_analyses () {
          var main = this.$store.getters['Workspace/main']
          var analyses = _.get(this.workspace_files, [main, 'data', 'analyses'])
          if (analyses) {
            return analyses
          } else {
            return []
          }
        },
        experiment_name () {
          var main = this.$store.getters['Workspace/main']
          if (main) {
            return main
          } else {
            return undefined
          }
        },
        process_names () {
          var processes = _.get(this.workspace_files, [this.experiment_name, 'data', 'processes'])
          if (processes) {
            return Object.keys(processes)
          } else {
            return []
          }
        }
      }
    }
</script>

<style scoped>
.menu-el {
    margin: 10px
}
</style>

