<template>
  <div>
  </div>
</template>

<script>
export default {
  name: 'empty-config',
  props: [
    'file',
    'connection'
  ],
  data: function () {
    return {

    }
  },
  methods: {

  }
}
</script>


<style scoped>

</style>
