<template>
  <div>
        <sui-list relaxed>
            <sui-list-item>
                <div class="ui labeled input">
                    <div class="ui label" style="width: 100px;">
                        IP address
                    </div>
                    <input type="text" placeholder="192.168.0.1" v-model="ip_address">
                </div>
            </sui-list-item>

            <sui-list-item>
                <div class="ui labeled input">
                    <div class="ui label" style="width: 100px;">
                        Port
                    </div>
                    <input type="text" placeholder="8080" v-model="port">
                </div>
            </sui-list-item>

            <sui-list-item>
                <sui-button icon="save" :negative="modified" :disabled="!modified" @click="updateConfig"/>
            </sui-list-item>
        </sui-list>
  </div>
</template>

<script>

var _ = require('lodash')

export default {
  name: 'ethernet-config',
  props: [
    'file',
    'connection'
  ],
  data: function () {
    return {
      ip_address: null,
      port: null
    }
  },
  methods: {
    updateConfig () {

    }
  },
  computed: {
    workspace_files () {
      return this.$store.state.Workspace.files
    },
    modified () {
      return this.port != this.eth_config.port || this.ip_address != this.eth_config.ipv4_address
    },
    eth_config () {
      return _.get(this.workspace_files, [this.file, 'data', 'connections', this.connection, 'connection_config', 'ethernet'])
    }
  },
  created () {
    if (this.eth_config.port) {
      this.port = this.eth_config.port
    }

    if (this.eth_config.ipv4_address) {
      this.ip_address = this.eth_config.ipv4_address
    }
  }
}
</script>


<style scoped>

</style>
