<template>
  <div>

    <sui-list relaxed>
        <sui-list-item>
            
            <sui-dropdown button class="icon" floating data-tooltip="Port" data-position="top left"
                icon="plug" 
                :options="available_ports"
                labeled
                search
                fluid
                text="Select port"
                v-model="port"
            />
            
        </sui-list-item>

        <sui-list-item>
            <sui-dropdown button class="icon" floating data-tooltip="Baud rate" data-position="bottom left"
                icon="tachometer alternate" 
                :options="standard_baudrates"
                labeled
                fluid
                text="Choose baud rate"
                v-model="baudrate"
            />
        </sui-list-item>

        <sui-list-item>
            <sui-dropdown button class="icon" floating data-tooltip="Databits" data-position="top left"
                icon="database" 
                :options="standard_databits"
                labeled
                fluid
                text="Choose databits"
                v-model="databits"
                />
        </sui-list-item>

        <sui-list-item>
            <sui-dropdown button class="icon" floating data-tooltip="Stopbits" data-position="top left"
                icon="hand paper" 
                :options="standard_stopbits"
                labeled
                fluid
                text="Choose stopbits"
                v-model="stopbits"
                />
        </sui-list-item>

        <sui-list-item>
            <sui-dropdown button class="icon" floating data-tooltip="Parity" data-position="top left"
                icon="check" 
                :options="standard_parity"
                labeled
                fluid
                text="Choose parity"
                v-model="parity"
                />
        </sui-list-item>

        <sui-list-item>
            <sui-dropdown button class="icon" floating data-tooltip="Flow control" data-position="top left"
                icon="certificate" 
                :options="standard_flowcontrol"
                labeled
                fluid
                text="Choose flow control"
                v-model="flowcontrol"
                />
        </sui-list-item>

        <sui-list-item>
            <sui-button icon="save" :negative="modified" :disabled="!modified" @click="updateConfig"/>
        </sui-list-item>
        <sui-list-item>
            
        </sui-list-item>
    </sui-list>

  </div>
</template>

<script>

var SerialPort = require('serialport')
var _ = require('lodash')

export default {
  name: 'serial-config',
  props: [
    'file',
    'connection'
  ],
  data: function () {
    return {
      port: null,
      baudrate: null,
      databits: null,
      stopbits: null,
      parity: null,
      flowcontrol: null,

      available_ports: [], // to be filled at 'created'

      standard_baudrates: [
        {key: '9600', text: '9600', value: 9600},
        {key: '19200', text: '19200', value: 19200},
        {key: '38400', text: '38400', value: 38400},
        {key: '57600', text: '57600', value: 57600},
        {key: '115200', text: '115200', value: 115200},
        {key: '230400', text: '230400', value: 230400}],
      standard_databits: [
        {key: '5', text: '5', value: 5},
        {key: '6', text: '6', value: 6},
        {key: '7', text: '7', value: 7},
        {key: '8', text: '8', value: 8}],
      standard_stopbits: [
        {key: '1', text: '1', value: 1},
        {key: '2', text: '2', value: 2}],
      standard_parity: [
        {key: 'none', text: 'None', value: 'none'},
        {key: 'odd', text: 'Odd', value: 'odd'},
        {key: 'even', text: 'Even', value: 'even'}],
      standard_flowcontrol: [
        {key: 'none', text: 'None', value: 'none'},
        {key: 'software', text: 'Software', value: 'software'},
        {key: 'hardware', text: 'Hardware', value: 'hardware'}]
    }
  },
  components: {

  },
  methods: {
    file_index (property) {
      return undefined
    },
    update_available_ports () {
      var this_comp = this
      SerialPort.list(function (err, ports) {
        this_comp.available_ports = ports.map(p => {
          let display = p.comName
          if (p.pnpId) {
            display = p.pnpId + ' (' + p.comName + ')'
          }

          return {key: p.comName, text: display, value: p.comName}
        })
      })
    },
    updateConfig () {
      this.$store.commit('Workspace/updateSerialConfig',
        {file: this.file,
          connection: this.connection,
          port: this.port,
          link: 'serial',
          baudrate: this.baudrate,
          databits: this.databits,
          stopbits: this.stopbits,
          parity: this.parity,
          flowcontrol: this.flowcontrol
        })
    }
  },
  computed: {
    workspace_files () {
      return this.$store.state.Workspace.files
    },
    modified () {
      if (this.serial_config) {
        return this.serial_config.port != this.port ||
                    this.serial_config.baudrate != this.baudrate ||
                    this.serial_config.databits != this.databits ||
                    this.serial_config.stopbits != this.stopbits ||
                    this.serial_config.parity != this.parity ||
                    this.serial_config.flowcontrol != this.flowcontrol
      } else {
        return false
      }
    },
    serial_config () {
      return _.get(this.workspace_files, [this.file, 'data', 'connections', this.connection, 'connection_config', 'serial'])
    }
  },
  created () {
    this.update_available_ports()

    if (this.serial_config) {
      if (this.serial_config.port) {
        this.port = this.serial_config.port
      }

      if (this.serial_config.baudrate) {
        this.baudrate = this.serial_config.baudrate
      }

      if (this.serial_config.databits) {
        this.databits = this.serial_config.databits
      }

      if (this.serial_config.stopbits) {
        this.stopbits = this.serial_config.stopbits
      }

      if (this.serial_config.parity) {
        this.parity = this.serial_config.parity
      }

      if (this.serial_config.flowcontrol) {
        this.flowcontrol = this.serial_config.flowcontrol
      }
    }
  }
}
</script>


<style scoped>

</style>
