<template>
  <div>
    <div class="marg">
        <h1 class="marg">AES NUEVA (Non Uniform Error Value Analysis)</h1>
        <sui-accordion styled class="fluid">
            <best-key></best-key>
            <ranks></ranks>
            <fault-observer></fault-observer>
        </sui-accordion>
        
    </div>
  </div>
</template>

<script>

import BestKey from './components/BestKey'
import Ranks from './components/Ranks'
import FaultObserver from './components/FaultObserver'

export default {
  name: 'aes_nueva_ui',
  components: {
    BestKey,
    Ranks,
    FaultObserver
  },
  // data: function() {
  //     return {
  //         events: 0,
  //     }
  // },
  methods: {
  },
  computed: {

  }
}
</script>


<style scoped>
.marg {
    margin: 20px;
}
</style>
