<template>
    <div>
        <div v-if="workspace_selected" class="marg">
            <sui-message class="positive">
                <sui-message-header>{{ current_workspace }}</sui-message-header>
                <sui-message-content>This <b>{{ file_type }}</b> file has been loaded.</sui-message-content>
            </sui-message>
        </div>
        <div v-else class="marg">
            <sui-message class="negative">
                <sui-message-header>No file is selected yet.</sui-message-header>
                <sui-message-content>
                    You can create a <sui-button basic content="new file" style="padding: 5px;" @click="new_file"/>
                    or <sui-button basic content="open" style="padding: 5px;" @click="open_file"/> one.
                </sui-message-content>
            </sui-message>
        </div>

        <div v-if="workspace_selected && referenced_files.length > 0" class="marg">
            <sui-message>
                <sui-message-header>Referenced files</sui-message-header>
                <sui-message-content>Some files are referenced in the loaded one: {{ referenced_files }}</sui-message-content>
            </sui-message>
        </div>
        
        <div class="ui cards marg" v-if="workspace_selected">
            <sui-card v-if="modules_count > 0">
                <sui-card-content>
                    <sui-card-header>Modules</sui-card-header>
                </sui-card-content>
                <sui-card-content>
                    There are <b>{{ modules_count }}</b> modules in this workspace.
                </sui-card-content>
                <sui-card-content extra>
                    <sui-button @click="change_view('/modules')">View modules</sui-button>
                    <!-- <sui-button @click="test">View modules</sui-button> -->
                </sui-card-content>
            </sui-card>

            <sui-card v-if="actors_count > 0">
                <sui-card-content>
                    <sui-card-header>Actors</sui-card-header>
                </sui-card-content>
                <sui-card-content>
                    There are <b>{{ actors_count }}</b> actors in this workspace.
                </sui-card-content>
                <sui-card-content extra>
                    <sui-button @click="change_view('/actors')">View actors</sui-button>
                </sui-card-content>
            </sui-card>

            <sui-card v-if="constants_count > 0">
                <sui-card-content>
                    <sui-card-header>Constants</sui-card-header>
                </sui-card-content>
                <sui-card-content>
                    There are <b>{{ constants_count }}</b> constants in this workspace.
                </sui-card-content>
                <sui-card-content extra>
                    <sui-button @click="change_view('/actors')">View constants</sui-button>
                </sui-card-content>
            </sui-card>

            <sui-card v-if="processes_count > 0">
                <sui-card-content>
                    <sui-card-header>Processes</sui-card-header>
                </sui-card-content>
                <sui-card-content>
                    There are <b>{{ processes_count }}</b> processes in this workspace.
                </sui-card-content>
                <sui-card-content extra>
                    <sui-button @click="change_view('/processes')">View processes</sui-button>
                </sui-card-content>
            </sui-card>

            <sui-card v-if="variables_count > 0">
                <sui-card-content>
                    <sui-card-header>Variables</sui-card-header>
                </sui-card-content>
                <sui-card-content>
                    There are <b>{{ variables_count }}</b> variables in this workspace.
                </sui-card-content>
                <sui-card-content extra>
                    <sui-button @click="change_view('/variables')">View variables</sui-button>
                </sui-card-content>
            </sui-card>

            <sui-card v-if="connections_count > 0">
                <sui-card-content>
                    <sui-card-header>Connections</sui-card-header>
                </sui-card-content>
                <sui-card-content>
                    There are <b>{{ connections_count }}</b> connections in this workspace.
                </sui-card-content>
                <sui-card-content extra>
                    <sui-button @click="change_view('/connections')">View connections</sui-button>
                </sui-card-content>
            </sui-card>
        </div>
    </div>
</template>

<script>

// import sparkbench from '../../js/sparkbench.js'
import workspace from '../../js/workspace.js'
import files from '../../js/files.js'

export default {
  name: 'current-experiment',
  // data: function() {
  //     return {
  //         modules_count: 0,
  //         actors_count: 0
  //     }
  // },
  components: {

  },
  methods: {
    new_file () {
      files.new_file(this.$store)
    },
    open_file () {
      files.open_file(this.$store)
    },
    change_view (route) {
      this.$router.push(route)
    },
    test () {
      console.log(this.workspace_files)
    }
  },
  computed: {
    current_workspace () {
      return this.$store.state.Workspace.wsToml.replace(/^.*[\\\/]/, '')
    },
    file_type () {
      return ''
    },
    workspace_selected () {
      return this.$store.state.Workspace.wsToml !== ''
    },
    workspace_files () {
      return this.$store.state.Workspace.files
    },
    referenced_files () {
      return workspace.get_referenced_filenames(this.workspace_files)
    },
    modules_count () {
      return workspace.getModulesCount(this.workspace_files)
    },
    actors_count () {
      return workspace.getActorsCount(this.workspace_files)
    },
    constants_count () {
      return workspace.getConstantsCount(this.workspace_files)
    },
    processes_count () {
      return workspace.getProcessesCount(this.workspace_files)
    },
    variables_count () {
      return workspace.getVariablesCount(this.workspace_files)
    },
    connections_count () {
      return workspace.getConnectionsCount(this.workspace_files)
    }
  }
}
</script>


<style scoped>
.marg {
    margin-top: 10px;
    /* margin-bottom: 5px; */
}
</style>
