<template>
  <div id="wrapper">
    <main style="margin: 20px">
      <sui-message
        icon="bolt"
        header="Sparkbench GUI"
        content="This application can be used to create, edit and launch Sparkbench experiments for physical attacks." />
      
      <current-workspace></current-workspace>
    </main>
  </div>
</template>

<script>
  import sparkbench from '../../js/sparkbench.js'
  import CurrentWorkspace from './CurrentWorkspace'

  export default {
    name: 'landing-page',
    components: { CurrentWorkspace },
    methods: {
    },
    created: function () {
      var vue_this = this
      sparkbench.get_bench_files_location(function (bench_files_path) {
        vue_this.$store.commit('SparkbenchCLI/set_bench_files_path', bench_files_path)
      })
    }
  }
</script>

<style>
</style>
