<template>
  <div>
    <sui-accordion-title> 
        <sui-icon name="dropdown" />
        Best key candidate 
    </sui-accordion-title>
    <sui-accordion-content>
      <sui-table compact celled fixed>
            <sui-table-body>
                <sui-table-row>
                    <!-- :negative="splitted_correct_key[index]==best_val" :positive="splitted_correct_key[index]!=best_val" -->
                    <sui-table-cell :positive="splitted_correct_key[index]!=best_val"
                    class="center aligned deepneg" v-for="(best_val, index) in splitted_best" :key="index">{{best_val}}</sui-table-cell>
                </sui-table-row>
            </sui-table-body>
        </sui-table>
    </sui-accordion-content>
  </div>
</template>

<script>

var _ = require('lodash')

export default {
  name: 'best_key',
  components: {

  },
  computed: {
    experiment_name () {
      var main = this.$store.getters['Workspace/main']
      if (main) {
        return main
      } else {
        return undefined
      }
    },
    correct_key () {
      return _.get(this.$store.state.Workspace.files, [this.experiment_name, 'data', 'correct_key'])
    },
    splitted_correct_key () {
      if (this.correct_key) {
        return this.correct_key.match(/.{1,2}/g)
      } else {
        return []
      }
    },
    last_best () {
      if (this.data && this.data.best_hypothesis) {
        // console.log(this.data)
        return this.data.best_hypothesis[this.data.best_hypothesis.length - 1]
      } else {
        return undefined
      }
    },
    splitted_best () {
      if (this.last_best) {
        // console.log(this.last_best)
        return this.last_best.match(/.{1,2}/g)
      } else {
        return []
      }
    },
    data () {
      return this.$store.state.Data.data
    }
  },
  methods: {
  }
}
</script>


<style scoped>
.deepneg {
    background-color: red
}
</style>
