<template>
  <div>
    <sui-accordion-title> 
        <sui-icon name="dropdown" />
        Fault Observer
    </sui-accordion-title>
    <sui-accordion-content>
        <sui-table compact celled fixed>
            <sui-table-body>
                <sui-table-row v-for="(diff_vec, index) in splitted_diff" :key="index">
                    <sui-table-cell class="center aligned" :positive="diff_val=='00'" :negative="diff_val!='00'" v-for="(diff_val, index2) in diff_vec" :key="index2">{{diff_val}}</sui-table-cell>
                </sui-table-row>
            </sui-table-body>
        </sui-table>
    </sui-accordion-content>
  </div>
</template>

<script>

import nueva from '../aes_nueva.js'

var _ = require('lodash')

var max_to_show = 50

export default {
  name: 'fault_observer',
  components: {

  },
  computed: {
    diff () {
      if (this.data.diff) {
        var len = this.data.diff.length
        if (len > max_to_show) {
          return _.slice(this.data.diff, len - max_to_show)
        } else {
          return this.data.diff
        }
      } else {
        return []
      }
    },
    splitted_diff () {
      if (this.diff) {
        return this.diff.map(d => {
          return d.match(/.{1,2}/g)
        })
      } else {
        return []
      }
    },
    data () {
      return this.$store.state.Data.data
    }
  },
  methods: {
    test () {

    }
  }
}
</script>


<style scoped>

</style>
