<template>
  <div>
      <sui-accordion-title> 
        <sui-icon name="dropdown" />
        Ranks
    </sui-accordion-title>
    <sui-accordion-content>

      <sui-table compact celled fixed>
          <sui-table-body>
              <sui-table-row>
                  <sui-table-cell :negative="r<10" class="center aligned" v-for="(r, index) in last_ranks" :key="index">{{r}}</sui-table-cell>
              </sui-table-row>
          </sui-table-body>
      </sui-table>
      <div id="chart" style="width: 700px; height: 500px; margin: auto;"></div>
    </sui-accordion-content>
  </div>
</template>

<script>

var echarts = require('echarts')
var _ = require('lodash')

export default {
  name: 'ranks',
  components: {

  },
  data: function () {
    return {
      chart: undefined,
      options: {
        title: {
          text: 'Correct key ranks'
        },
        tooltip: {},
        // legend: {
        //     data:['Sales']
        // },
        xAxis: {
          data: Array.apply(null, {length: 100}).map(Number.call, Number)
        },
        yAxis: {
          max: 256,
          min: 1,
          type: 'log'
        },
        series: []
      }

    }
  },
  methods: {
    split_ranks (ranks) {
      if (ranks) {
        return ranks.map(d => {
          return d.match(/.{1,2}/g)
        })
      } else {
        return []
      }
    },
    reconstruct_ranks (splitted_ranks) {
      if (splitted_ranks) {
        var result = []
        splitted_ranks.map((vec) => {
          vec.map((r, index) => {
            if (!result[index]) {
              result[index] = []
            }
            var newVal = parseInt(r, 16) + 1

            result[index].push(newVal) // +1 to avoid log(0)
          })
        })
        return result
      } else {
        return []
      }
    },
    series (reconstructed_ranks) {
      return reconstructed_ranks.map((line, index) => {
        return {
          name: index.toString(),
          type: 'line',
          data: line
        }
      })
    },
    fill_series (ranks) {
      var splitted_ranks = this.split_ranks(ranks)
      var reconstructed_ranks = this.reconstruct_ranks(splitted_ranks)
      var series = this.series(reconstructed_ranks)
      this.options.xAxis.data = Array.apply(null, {length: series[0].length}).map(Number.call, Number)
      // this.options.series = series[0]
      this.options.series = series
      this.chart.setOption(this.options)
    }
  },
  computed: {
    last_ranks () {
      var ranks = _.get(this.$store.state.Data, ['data', 'ranks'])

      if (ranks && ranks.length > 0) {
        var last_rank = ranks[ranks.length - 1]
        var splitted = last_rank.match(/.{1,2}/g)
        return splitted.map(s => parseInt(s, 16) + 1)
      } else {
        return []
      }
    }
  },
  watch: {
    '$store.state.Data.data': _.throttle(function (data) {
      if (data.ranks) {
        this.fill_series(data.ranks)
      } else {
        this.options.series = []
        this.chart.setOption(this.options)
      }
      console.log('debounce')
    }, 5000)
  },
  mounted () {
    this.chart = echarts.init(document.getElementById('chart'))
    var data = _.get(this.$store.state, ['Data', 'data'])
    if (data.ranks) {
      this.fill_series(data.ranks)
    } else {
      this.options.series = []
      this.chart.setOption(this.options)
    }
    // use configuration item and data specified to show chart
  }
}
</script>


<style scoped>

</style>
