<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sparkbench-gui</title>
    <!-- <link rel="stylesheet" href="static/semantic/semantic.min.css"> -->
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    
  </head>
  <body>
    <script>window.$ = window.jQuery = require('jquery')</script>
    <!-- <script src="static/semantic/semantic.min.js"></script> -->
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
    

    <!-- webpack builds are automatically injected -->
  </body>
</html>
