<template>
    <sui-table-row>
        <sui-table-cell>
            <sui-input v-model="cmdname" class="fluid margbot" />
            <a class="ui label">
                <i class="file icon"></i>
                {{ file }}
            </a>
        </sui-table-cell>
        <sui-table-cell>
            <sui-input v-model="to_send" class="fluid margbot"/>
            <!-- <sui-icon name="computer" fitted />
            <sui-icon name="right arrow" fitted />
            <sui-icon name="microchip" fitted /> -->
        </sui-table-cell>
        <sui-table-cell>
            <sui-input v-model="to_receive" class="fluid margbot"/>
            <!-- <sui-icon name="computer" fitted />
            <sui-icon name="left arrow" fitted />
            <sui-icon name="microchip" fitted /> -->
        </sui-table-cell>
        <sui-table-cell><sui-button icon="save" :negative="modified" :disabled="!modified" @click="updateCmd"/></sui-table-cell>
    </sui-table-row>
</template>

<script>

var _ = require('lodash')
const {dialog} = require('electron').remote

import helpers from '../../js/helpers.js'

export default {
  name: 'command',
  props: [
    'file',
    'cmd',
    'connection'
  ],
  data: function () {
    return {
      cmdname: '',
      to_send: '',
      to_receive: ''
    }
  },
  components: {

  },
  methods: {
    updateCmd () {
      if (this.cmdname) {
        this.$store.commit('Workspace/updateCmd', {
          file: this.file,
          connection: this.connection,
          previousCmdName: this.cmd,
          newCmd: {name: this.cmdname, to_send: helpers.unescape(this.to_send), to_receive: helpers.unescape(this.to_receive)}
        })
      } else {
        var this_comp = this
        var this_store = this.$store
        dialog.showMessageBox({
          type: 'question',
          buttons: ['Cancel', 'Delete command'],
          title: 'Confirm',
          message: 'This will delete the command, are you sure about it?'
        }, function (response) {
          if (response === 1) { // Runs the following if 'Yes' is clicked
            this_store.commit('Workspace/delCmd', {
              file: this_comp.file,
              connection: this_comp.connection,
              previousCmdName: this_comp.cmd
            })
          }
        })
      }
    }
  },
  computed: {
    workspace_files () {
      return this.$store.state.Workspace.files
    },
    get_cmd_data_array () {
      return _.get(this.workspace_files, [this.file, 'data', 'connections', this.connection, 'cmds', this.cmd])
    },
    modified () {
      return this.cmdname != this.cmd || this.to_send != helpers.escape(this.get_cmd_data_array[0]) || this.to_receive != helpers.escape(this.get_cmd_data_array[1])
    }
  },
  created () {
    this.cmdname = this.cmd
    // console.log(this.get_cmd_data_array[0])
    this.to_send = helpers.escape(this.get_cmd_data_array[0])
    this.to_receive = helpers.escape(this.get_cmd_data_array[1])
  }
}
</script>


<style scoped>
.margbot {
    margin-bottom: 2px;
}
</style>
