<template>
  <div class="marg">
      <h1 class="marg">Connections</h1>
      <sui-accordion styled class="fluid">
        <connection v-for="con in connections" :conn_name="con" :key="con"></connection>
      </sui-accordion>
  </div>
</template>

<script>

import Connection from './Connection'

import workspace from '../../js/workspace.js'

export default {
  name: 'connections',
  components: {
    Connection
  },
  methods: {
  },
  computed: {
    workspace_files () {
      return this.$store.state.Workspace.files
    },
    connections () {
      return workspace.getConnections(this.workspace_files)
    }
  }
}
</script>


<style scoped>
.marg {
    margin: 20px;
}
</style>
