<template>
  <div>
    <sui-accordion styled>
        <template v-for="({file, config, link}, index) in connection_config">
            <span :key="index" v-if="link">
                <sui-accordion-title>
                    <sui-dropdown
                    @click="conn_click(index)"
                    :options="available_connectivity"
                    text="Connection type"
                    v-model="connectivity[index]"
                    />
                </sui-accordion-title>
                <sui-accordion-content>
                    <serial-config v-if="link=='serial'" :connection="connection" :file="file" ></serial-config>
                    <ethernet-config v-if="link=='ethernet'" :connection="connection" :file="file" ></ethernet-config>
                    <empty-config v-if="link=='empty'" :connection="connection" :file="file"></empty-config>
                </sui-accordion-content>
            </span>
        </template>
    </sui-accordion>
  </div>
</template>

<script>

var _ = require('lodash')

import SerialConfig from './ConnectionConfigs/SerialConfig'
import EthernetConfig from './ConnectionConfigs/EthernetConfig'
import EmptyConfig from './ConnectionConfigs/EmptyConfig'

function capitalize (s) {
  return s && s[0].toUpperCase() + s.slice(1)
}

export default {
  name: 'connection-config',
  components: {
    SerialConfig,
    EthernetConfig,
    EmptyConfig
  },
  props: [
    'connection'
  ],
  data: function () {
    return {
      file: null,
      connectivity: [],
      available_connectivity: [
        {key: 'serial', text: 'Serial', value: 'serial'},
        {key: 'ethernet', text: 'Ethernet', value: 'ethernet'},
        {key: 'smartcard', text: 'Smartcard', value: 'smartcard'},
        {key: 'empty', text: 'None', value: 'empty'}]
    }
  },
  props: [
    'connection'
  ],
  computed: {
    workspace_files () {
      return this.$store.state.Workspace.files
    },
    connect_values () {
      return this.available_connectivity.map(({key, text, value}) => value)
    },
    connection_config () {
      return Object.keys(this.workspace_files).map((file, index) => {
        let config = _.get(this.workspace_files[file], ['data', 'connections', this.connection, 'connection_config'])
        if (config) {
          return {file: file, config: config, link: config.link}
        } else {
          return undefined
        }
      }).filter(x => x != undefined)
    }
  },
  methods: {
    conn_click (index) {
      if (this.connectivity[index] != this.connection_config[index].link) {
        console.log('Change to ' + this.connectivity[index])
        this.updateLink(this.connectivity[index])
      }
    },
    updateLink (newlink) {
      this.$store.commit('Workspace/changeConnectionLink', {file: this.file, connection: this.connection, link: newlink})
    }
  },
  created () {
    var vuethis = this
    this.connection_config.map(({file, config, link}, index) => {
      if (link) {
        vuethis.file = file
        vuethis.connectivity[index] = link
        vuethis.connectivity = [ ...vuethis.connectivity]
      }
    })
  }
}
</script>


<style scoped>

</style>
