<template>
  <div>
    <sui-accordion-title>
         <sui-icon name="dropdown" />
         {{ conn_name }} 
    </sui-accordion-title>
    <sui-accordion-content>

        <sui-accordion styled>

            <sui-accordion-title>
                <sui-icon name="dropdown" />
                Connection configuration
            </sui-accordion-title>
            <sui-accordion-content>
                <connection-config :connection="conn_name"></connection-config>
            </sui-accordion-content>
                
            <sui-accordion-title>
                <sui-icon name="dropdown" />
                Commands
            </sui-accordion-title>
            <sui-accordion-content>
                <sui-table celled>
                    <sui-table-header>
                        <sui-table-row>
                            <sui-table-header-cell style="width: 33%">Command</sui-table-header-cell>
                            <sui-table-header-cell style="width: 33%">
                                Data to send
                                <sui-icon name="computer" fitted />
                                <sui-icon name="right arrow" fitted />
                                <sui-icon name="microchip" fitted />
                            </sui-table-header-cell>
                            <sui-table-header-cell style="width: 33%">
                                Data to receive
                                <sui-icon name="computer" fitted />
                                <sui-icon name="left arrow" fitted />
                                <sui-icon name="microchip" fitted />
                            </sui-table-header-cell>
                            <sui-table-header-cell></sui-table-header-cell>
                        </sui-table-row>
                    </sui-table-header>

                    <!-- Show current connections in table body -->
                    <sui-table-body>
                        <!-- <template v-for="file in files_array">
                            <command v-for="cmd in cmds_array(file)" :key="cmd" :cmd="cmd" :file="file" :connection="conn_name"></command>
                        </template> -->

                        <command v-for="{file, cmd} in cmd_files_array" :key="cmd" :cmd="cmd" :file="file" :connection="conn_name"></command>

                         <!-- Create a new command -->
                        <new-command :connection="conn_name"></new-command>
                        

                    </sui-table-body>
                </sui-table>

                <sui-divider />

               
                
            </sui-accordion-content>
        </sui-accordion>

    </sui-accordion-content>
  </div>
</template>

<script>

import Command from './Command'
import NewCommand from './NewCommand'

import ConnectionConfig from './ConnectionConfig'
var _ = require('lodash')

export default {
  name: 'connection',
  props: [
    'conn_name'
  ],
  data: function () {
    return {
      new_cmd_file: null
    }
  },
  components: {
    Command,
    NewCommand,
    ConnectionConfig
  },
  methods: {
    cmds_in_file (file) {
      return _.get(this.workspace_files[file], ['data', 'connections', this.$props.conn_name, 'cmds'])
    },
    cmds_array (file) {
      var cmds = _.get(this.workspace_files[file], ['data', 'connections', this.$props.conn_name, 'cmds'])
      if (cmds) {
        return Object.keys(cmds)
      } else {
        return []
      }
    },
    connections_array (file) {
      var connections = _.get(this.workspace_files, [file, 'data', 'connections', this.$props.conn_name, 'cmds'])
      if (connections) {
        return connections
      } else {
        return []
      }
    }
  },
  computed: {
    workspace_files () {
      return this.$store.state.Workspace.files
    },
    files_array () {
      return Object.keys(this.$store.state.Workspace.files)
    },
    cmd_files_array () {
      // get all tuples: {file, cmd}
      var res = Object.keys(this.$store.state.Workspace.files).map(n => {
        return this.cmds_array(n).map(cmd => {
          return {file: n, cmd: cmd}
        })
      }).filter(x => x.length > 0)
      var merged = [].concat.apply([], res)

      return merged
    },
    // connection_properties() {
    //     return Object.keys(this.workspace_files).map((key, index) => {
    //         let conn = _.get(this.workspace_files[key], ['data', 'connections', this.$props.conn_name])

    //         if(conn) {
    //             return conn
    //         }
    //         else {
    //             return undefined
    //         }
    //     })
    // },
    // connection_files_array() {
    //     //get all tuples: {file, cmd}
    //     var res = Object.keys(this.$store.state.Workspace.files).map(n => {
    //         return this.connections_array(n).map(conn => {
    //             return {file: n, connection: conn}
    //         })
    //     }).filter(x => x.length > 0)
    //     var merged = [].concat.apply([], res)

    //     return merged
    // },
    // connection_config() {
    //     return Object.keys(this.workspace_files).map((key, index) => {
    //         let config = _.get(this.workspace_files[key], ['data', 'connections', this.$props.conn_name, 'connection_config'])

    //         if(config) {
    //             return config
    //         }
    //         else {
    //             return undefined
    //         }
    //     }).filter(x => x != undefined)
    // },
    cmds () {
      return Object.keys(this.workspace_files).map((key, index) => {
        let cmds = _.get(this.workspace_files[key], ['data', 'connections', this.$props.conn_name, 'cmds'])

        if (cmds) {
          return cmds
        } else {
          return undefined
        }
      })
    }
  }
}
</script>


<style scoped>

</style>
