<template>
    <sui-table-row>
        <sui-table-cell>
            <sui-input v-model="cmdname" class="fluid margbot"/>
            <sui-dropdown button class="icon" floating icon="file" :options="select_files"
                labeled
                search
                text="Choose file"
                v-model="new_cmd_file"
                />  
                <!-- v-model="current" -->
        </sui-table-cell>
        <sui-table-cell>
            <sui-input class="fluid margbot" v-model="to_send"/>
            <!-- <sui-icon name="computer" fitted />
            <sui-icon name="right arrow" fitted />
            <sui-icon name="microchip" fitted /> -->
        </sui-table-cell>
        <sui-table-cell>
            <sui-input class="fluid margbot" v-model="to_receive"/>
            <!-- <sui-icon name="computer" fitted />
            <sui-icon name="left arrow" fitted />
            <sui-icon name="microchip" fitted /> -->
        </sui-table-cell>
        <sui-table-cell><sui-button positive icon="add" @click="createCmd"/></sui-table-cell>
    </sui-table-row>
</template>

<script>

var _ = require('lodash')
const {dialog} = require('electron').remote
import helpers from '../../js/helpers.js'

export default {
  name: 'new-command',
  props: [
    'connection'
  ],
  data: function () {
    return {
      new_cmd_file: null,
      cmdname: '',
      to_send: '',
      to_receive: ''
    }
  },
  components: {

  },
  methods: {
    createCmd () {
      if (this.cmdname && this.new_cmd_file) {
        this.$store.commit('Workspace/createCmd', {
          file: this.new_cmd_file,
          connection: this.connection,
          name: this.cmdname,
          to_send: helpers.unescape(this.to_send),
          to_receive: helpers.unescape(this.to_receive)})

        // clear fields for next command
        this.cmdname = ''
        this.new_cmd_file = null
        this.to_send = ''
        this.to_receive = ''
      } else {
        if (!this.cmdname) {
          dialog.showErrorBox('Attention', 'You must give a name to your command.')
        }
        if (!this.new_cmd_file) {
          margbot
          dialog.showErrorBox('Attention', 'You must choose a file to save this command into.')
        }
      }
    }
  },
  computed: {
    workspace_files () {
      return this.$store.state.Workspace.files
    },
    get_cmd_data_array () {
      return _.get(this.workspace_files, [this.file, 'data', 'connections', this.connection, 'cmds', this.cmd])
    },
    select_files () {
      return Object.keys(this.$store.state.Workspace.files).map(n => {
        return {key: n, text: n, value: n}
      })
    }
  }
}
</script>


<style scoped>
.margbot {
    margin-bottom: 2px;
}
</style>
