<template>
  <div>
    <sui-accordion-title>
        <sui-icon name="dropdown" />
        Analyses for {{ experiment }}
    </sui-accordion-title>

    <sui-accordion-content>

        <sui-accordion styled>
            <sui-accordion-title>
                <sui-icon name="dropdown" />
                Select analyses
            </sui-accordion-title>
            <sui-accordion-content>
                <sui-list>
                    <sui-list-item v-for="({name, fullname}, index) in available_analyses" :key="name">
                        <sui-checkbox :label="name" v-model="check_analyses[index]" @click="updateAnalyses"/>
                    </sui-list-item>
                </sui-list>
            </sui-accordion-content>

            <template v-for="(comp, index) in enabled_config_components">
                <component :is="comp" :key="index"></component>
            </template>
        </sui-accordion>
    </sui-accordion-content>
  </div>
</template>

<script>

var _ = require('lodash')

var analysis_components = require('../Analyses/index.js').default
// var pin = require('../Analyses/pin.js')

export default {
  name: 'analyses',
  props: [
    'experiment'
  ],
  components: {

  },
  data: function () {
    return {
      last_checks: [],
      check_analyses: []
    }
  },
  methods: {
    updateAnalyses () {
      if (!_.isEqual(this.last_checks, this.check_analyses)) {
        this.last_checks = _.slice(this.check_analyses)
        this.$store.commit('Workspace/updateAnalyses', this.selected_analyses)
      }
    }
  },
  computed: {
    selected_analyses () {
      return Object.keys(this.check_analyses).filter(x => this.check_analyses[x] == true).map(i => this.available_analyses[i].fullname)
    },
    workspace_files () {
      return this.$store.state.Workspace.files
    },
    experiment_file () {
      return _.get(this.workspace_files, [this.experiment])
    },
    available_analyses () {
      return Object.keys(analysis_components).map(cname => {
        return {name: analysis_components[cname].name, fullname: cname}
      })
    },
    enabled_analyses () {
      var analyses = _.get(this.experiment_file, ['data', 'analyses'])
      if (analyses) {
        return analyses
      } else {
        return []
      }
    },
    available_config_components () {
      return Object.keys(analysis_components).map(cname => analysis_components[cname].config)
    },
    enabled_config_components () {
      return this.enabled_analyses.map(name => analysis_components[name].config)
    }
  },
  created () {
    this.available_analyses.map((a, index) => {
      if (this.enabled_analyses.includes(a.fullname)) {
        this.check_analyses[index] = true
      } else {
        this.check_analyses[index] = false
      }
    })

    this.last_checks = _.slice(this.check_analyses)
  }
}
</script>


<style scoped>
.marg {
    margin: 20px;
}


</style>
