<template>
  <div>
      <div class="marg">
      <h1 class="marg">Preferences</h1>
      <sui-accordion styled class="fluid">
        <analyses :experiment="main_file"></analyses>
      </sui-accordion>
  </div>
  </div>
</template>

<script>

import Analyses from './Analyses'

export default {
  name: 'preferences',
  components: {
    Analyses
  },
  methods: {
  },
  computed: {
    main_file () {
      return this.$store.getters['Workspace/main']
    }
  }
}
</script>

<style scoped>
.marg {
    margin: 20px;
}
</style>